@keyframes score {
  0% {
      opacity: 0;
      width: 20%;
      height: 20%;
  }
  50% {
      opacity: 1;
      width: 35%;
      height: 35%;
  }
  80% {
      opacity: 1;
      width: 35%;
      height: 35%;
  }
  100% {
      opacity: 0;
      width: 35%;
      height: 35%;
  }
}

.scoring-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

  .achievement {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 20%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation: score 2s ease-out forwards;
  }

  .achievement-empathy {
    background-image: url('../../static/icons/stats-empathy.svg');
  }

  .achievement-empowerment {
    background-image: url('../../static/icons/stats-empowerment.svg');
  }

  .activement-equity {
    background-image: url('../../static/icons/stats-equity.svg');
  }

  .achievement-information {
    background-image: url('../../static/icons/stats-information.svg');
  }
}
